<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <OPay_Alipay>
            <!-- declare module's version information for database updates -->
            <version>1.2.0609</version>
        </OPay_Alipay>
    </modules>

    <global>
        <helpers>
            <alipay>
                <class>OPay_Alipay_Helper</class>
            </alipay>
        </helpers>
        <blocks>
            <alipay>
                <class>OPay_Alipay_Block</class>
            </alipay>
        </blocks>

        <!-- declare model group for new module -->
        <models>
            <alipay>
                <class>OPay_Alipay_Model</class>
            </alipay>
        </models>

        <!-- declare resource setup for new module -->
        <resources>
            <alipay_setup>
                <setup>
                    <module>OPay_Alipay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alipay_setup>
            <alipay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alipay_write>
            <alipay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alipay_read>
        </resources>
    </global>
  
    <adminhtml>
        <translate>
            <modules>
                <OPay_Alipay>
                    <files>
                        <default>OPay_Modules.csv</default>
                    </files>
                </OPay_Alipay>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <routers>
            <alipay>
                <use>standard</use>
                <args>
                    <module>OPay_Alipay</module>
                    <frontName>alipay</frontName>
                </args>
            </alipay>
        </routers>
        <layout>
            <updates>
                <alipay>
                    <file>OPay.xml</file>
                </alipay>
            </updates>
        </layout>
        <translate>
            <modules>
                <OPay_Alipay>
                    <files>
                        <default>OPay_Modules.csv</default>
                    </files>
                </OPay_Alipay>
            </modules>
        </translate>
    </frontend>

    <!-- declare default configuration values for this module -->
    <default>
        <payment>
            <alipay>
                <active>0</active>
                <model>alipay/all</model>
                <order_status>pending</order_status>
                <title>歐付寶(支付寶)</title>
                <allowspecific>0</allowspecific>
                <use_store_currency>0</use_store_currency>
                <request_type>authorize</request_type>
                <test_mode>1</test_mode>
                <fix_contact>1</fix_contact>
                <hide_contact>0</hide_contact>
                <enable_online_operations>0</enable_online_operations>
                <merchant_id>2000132</merchant_id>
                <hash_iv>v77hoKGq4kWxNNIS</hash_iv>
                <hash_key>5294y06JbISpM5x9</hash_key>
            </alipay>
        </payment>
    </default>
</config>